# Build dependencies
setuptools>=65.5.1
wheel>=0.38.4
Cython>=0.29.33

# Core dependencies
numpy==1.23.5
pandas==1.5.3

# Prophet and its dependencies
prophet==1.1.3
cmdstanpy>=1.0.4
pystan>=3.6.0

# Web server
flask==2.3.2
gunicorn==21.2.0

# Additional utilities
pymeeus>=0.5.12